:root {
  --color-campspace: #0db08a;
  --color-yellow-campspace: #fdb000;
  --color-light-grey-campspace: #f5f5f1;
  --color-dark-grey-campspace: #32322e;
  --color-blue-campspace: #4376ba;
  --color-primary-campspace: var(--color-campspace);
  --color-secondary-campspace: var(--color-yellow);
  --color-tertiary-campspace: var(--color-blue);
  --border-radius-small-campspace: 5px;
  --border-radius-medium-campspace: 8px;
  --border-radius-large-campspace: 16px;
}

* :after,
:before {
  box-sizing: border-box;
  margin: 0;
}

.clamping-widget h3 {
  font-size: 20px;
  font-weight: 600;
}

.clamping-widget {
  font-family: Arial, Helvetica, sans-serif;
  --campspace-height-card: 400px;
  --campspace-width-card: 600px;
  right: 0;
  height: var(--campspace-height-card);
  width: var(--campspace-width-card);
  border-radius: var(--border-radius-medium-campspace);
}

.widget-images-slider {
  display: flex;
  list-style-type: none;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}

.widget-images-slider img {
  border-radius: var(--border-radius-medium-campspace);
  width: 100%;
  animation: slide 16s infinite;
}

.widget-content-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
}

.widget-content-overlay div {
  display: flex;
  justify-content: center;
  bottom: 0;
}

.widget-content-overlay img {
  position: absolute;
  width: 10em;
  left: 10px;
  top: 10px;
}

.widget-content-overlay p {
  position: absolute;
  right: 10px;
  top: -7px;
  font-weight: 500;
  padding: 0.5rem;
  border-radius: var(--border-radius-medium-campspace);
  color: var(--color-light-grey-campspace);
  background-color: var(--color-dark-grey-campspace);
}

.widget-content-overlay a {
  position: absolute;
  bottom: 50px;
  font-weight: 500;
  color: var(--color-light-grey-campspace);
  background-color: var(--color-blue-campspace);
  border-radius: 8px;
  text-decoration: none;
  touch-action: manipulation;
  padding: 1rem 2rem;
}

.widget-button {
  position: fixed;
  right: 20px;
  top: 50%;
  padding: 15px 30px;
  background-color: var(--color-campspace);
  color: var(--color-light-grey-campspace);
  border-radius: 8px 8px 0 0;
  border: none;
  cursor: pointer;
  z-index: 9999;
  transform: translate(50%, -50%) rotate(-90deg);
}

@keyframes slide {
  0%,
  33% {
    transform: translateX(0);
  }
  36%,
  67% {
    transform: translateX(-100%);
  }
  70%,
  100% {
    transform: translateX(-200%);
  }
}
